<div ng-controller="myController" ng-model="initialText">
  <h1>Bank heist</h1>
  <br>
  <p>You are an ambitious bank rober that has attempted to crack the most secure bank safe in the world. Little did you know the safe was attached to a mysterious computer with just a a single question and a blank input space. It's up to you to figure out how to crack this unexpected challenge. Will you get you moeny? Or head home without a dollar to show for?</p>
  <label for="q1">What is the meaning of life?</label>
  <input type="text" ng-model="q1">
  <div ng-show="q1 == 42">
    <label for="q2">How much do I eat for breakfast?</label>
    <input type="text" name="q2" ng-model="hello">
    <div ng-show="q2 == 'a-byte'">
      <label for="q3"></label>
      <input type="text" name="q3">
      <div ng-show="greeting == 'hello'">
        <label for="q4"></label>
        <input type="text" name="q4" ng-model="hello">
        <div ng-show="greeting == 'hello'">
          <label for="q5"></label>
          <input type="text" name="q5">
          <div ng-show="greeting == 'hello'">
            <label for="q6"></label>
            <input type="text" name="q6" ng-model="hello">
            <div ng-show="greeting == 'hello'">
              <label for="q7"></label>
              <input type="text" name="q7">
              <div ng-show="greeting == 'hello'">
                <label for="q8"></label>
                <input type="text" name="q8" ng-model="hello">
                <div ng-show="greeting == 'hello'">
                  <label for="q9"></label>
                  <input type="text" name="q9">
                  <div ng-show="greeting == 'hello'">
                    <label for="q10"></label>
                    <input type="text" name="q10" ng-model="hello">
                    <div ng-show="greeting == 'hello'">
                      <label for="q11"></label>
                      <input type="text" name="q11">
                    </div>
                    <a href="#/supersecretroutedontlookatthisurlmwahahahaha">Click here to win the game....</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
