<div ng-controller="gameController" ng-model="initialText">
  <h1>Bank heist</h1>
  <br>
  <p>You are an ambitious bank rober that has attempted to crack the most secure bank safe in the world. Little did you know the safe was attached to a mysterious computer with just a a single question and a blank input space. It's up to you to figure out how to crack this unexpected challenge. Will you get you moeny? Or head home without a dollar to show for?</p>
  <label for="q1">What is the meaning of life?</label>
  <input type="text" ng-model="q1">
  <div ng-show="q1 == 42">
    <label for="q2">How much do I eat for breakfast?</label>
    <input type="text" name="q2" ng-model="q2">
    <h3 ng-show="q2 == 'banana'">Banana's are cool too.</h3>
    <h3 ng-show="q2 == 'a lot'">Great. Now I feel sluggish.</h3>
    <h3 ng-show="q2 == 'a little'">But, I'm still hungry.</h3>

    <div ng-show="q2 == 'a byte'">
      <label for="q3">How much wood can a woodchuck chuck?</label>
      <input type="text" name="q3" ng-model="q3">
      <div ng-show="q3 == 'a woodchuck would chuck all the wood it could chuck if a woodchuck could chuck wood'">
        <label for="q4">You come to a fork in the road. Do you take the left path or the right path?</label>
        <input type="text" name="q4" ng-model="q4">
        <label for="leftpath" ng-show="q4 =='left path'">Well, now what?</label>
        <input name="leftpath" ng-show="q4 =='left path'"/>
        <label for="rightpath" ng-show="q4 =='right path'">What it is, fool?</label>
        <input name="rightpath" ng-show="q4 =='right path'"/>
        <h3 ng-show="q4=='I took the one less traveled by'">Ain't no one got time for poetry!</h3>
        <div ng-show="q4 == 'I make my own path'">
          <label for="q5">What... is the air-speed velocity of an unladen swallow?</label>
          <input type="text" name="q5" ng-model="q5">
          <div ng-show="q5 == 'African or European?'">
            <label for="q6">Break it down:</label>
            <input type="text" name="q6" ng-model="q6">
            <div ng-show="q6 == 'Stop! Hammer time!'">
              <label for="q7">That's not a knife, <strong>this</strong> is a knife!</label>
              <input type="text" name="q7" ng-model="q7">
              <div ng-show="q7 == 'a knife'">
                <label for="q8"></label>
                <input type="text" name="q8" ng-model="q8">
                <div ng-show="q8 == 'hello'">
                  <label for="q9"></label>
                  <input type="text" name="q9" ng-model="q9">
                  <div ng-show="q9 == 'hello'">
                    <label for="q10"></label>
                    <input type="text" name="q10" ng-model="q10">
                    <div ng-show="q10 == 'hello'">
                      <label for="q11"></label>
                      <input type="text" name="q11">
                    </div>
                    <a href="#/supersecretroutedontlookatthisurlmwahahahaha">Click here to win the game....</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
