<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-left" href="#">
        <img alt="Brand" class="logo cirle" src="logo.jpg">
      </a>
      <div class="navbar-right">
        <h1 class="money">RobberMe This</h1>
        <ol class="breadcrumb">
          <li class="active">Home</li>
          <li><a href="/#/game">Play</a></li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<div class="main money">
  <h2>Bank Robbers Welcome</h2>
  <p>If you don't know what it is, you probably can't afford it</p>
  <a class="btn btn-default btn-lg" href="/#/game" role="button">Play</a>
</div>
