<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-left" href="#">
        <img alt="Brand" class="logo" src="logo.jpg">
      </a>
      <div class="navbar-right">
        <h1>RobberyMe This</h1>
        <p>If you don't know what it is, you probably can't afford it</p>
      </div>
    </div>
  </div>
    <ol class="breadcrumb">
      <li class="active">Home</li>
      <li><a href="/#/game">Play</a></li>
    </ol>
</nav>
<div class="main">
  <h2>Bank Robbers Welcome</h2>
  <p>All others take caution</p>
  <a class="btn btn-default btn-lg" href="/#/game" role="button">Play</a>
</div>
